[submodule "vis"]
	path = vis
	url = git@github.com:almende/vis.git
	branch = master
[submodule "ngraph"]
	path = ngraph
	url = git@github.com:anvaka/ngraph.git
	branch = master
[submodule "VivaGraphJS"]
	path = VivaGraphJS
	url = git@github.com:anvaka/VivaGraphJS.git
	branch = master
[submodule "dagre"]
	path = dagre
	url = git@github.com:cpettitt/dagre.git
	branch = master
[submodule "springy"]
	path = springy
	url = git@github.com:dhotson/springy.git
	branch = master
[submodule "JSNetworkX"]
	path = JSNetworkX
	url = git@github.com:fkling/JSNetworkX.git
	branch = master
[submodule "Alchemy"]
	path = Alchemy
	url = git@github.com:GraphAlchemist/Alchemy.git
	branch = master
