[submodule "vis"]
	path = vis
	url = git@github.com:almende/vis.git
	branch = master
[submodule "ngraph"]
	path = ngraph
	url = git@github.com:anvaka/ngraph.git
	branch = master
[submodule "VivaGraphJS"]
	path = VivaGraphJS
	url = git@github.com:anvaka/VivaGraphJS.git
	branch = master
[submodule "dagre"]
	path = dagre
	url = git@github.com:cpettitt/dagre.git
	branch = master
[submodule "springy"]
	path = springy
	url = git@github.com:dhotson/springy.git
	branch = master
[submodule "JSNetworkX"]
	path = JSNetworkX
	url = git@github.com:fkling/JSNetworkX.git
	branch = master
[submodule "Alchemy"]
	path = Alchemy
	url = git@github.com:GraphAlchemist/Alchemy.git
	branch = master
[submodule "sigma.js"]
	path = sigma.js
	url = git@github.com:jacomyal/sigma.js.git
	branch = master
[submodule "d3"]
	path = d3
	url = git@github.com:mbostock/d3.git
	branch = master
[submodule "arbor"]
	path = arbor
	url = git@github.com:samizdatco/arbor.git
	branch = master
